<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{metaTitle}} | Grønlandsk parlør</title>
    <link href="{{'/assets/css/style.css' | url}}" rel="stylesheet">
    <script src={{'/assets/js/customelements.js' | url}}></script>
</head>
<body>
    {% if hideMainMenu != "true" %}
    <nav class="navbar">
        <a class="navbar-link" href="{{'/' | url}}"><span class="navbar-link-icon">⌂</span><span class="navbar-link-text">Hjem</span></a>
        <a class="navbar-link" href="{{'/parloer' | url}}"><span class="navbar-link-icon">📓</span><span class="navbar-link-text">Parlør</span></a>
        <a class="navbar-link" href="{{'/kursus' | url}}"><span class="navbar-link-icon">🎓</span><span class="navbar-link-text">Kursus</span></a>
        <a class="navbar-link" href="{{'/mere' | url}}"><span class="navbar-link-icon">…</span><span class="navbar-link-text">Mere</span></a>
    </nav>
    {% endif %}
    <main>
    {{content | safe}}
    </main>
    <script src={{'/assets/js/features.js' | url}}></script>
</body>
</html>