---
layout: standard
---

<h2 class="mt-lg mb-sm">Moduler</h2>

<div class="list-group nav-list-group">
    {%- for module in collections.module | sort(false, false, 'data.moduleNo') %}
    <a class="list-group-item" href="{{module.url | url}}">{{module.data.metaTitle}}</a>
    {%- endfor %}
</div>

<div class="mt-lg mb-lg">
{{content | safe}}
</div>

<details class="mb-lg mt-lg">
    <summary>Til læreren</summary>
    {% for teachernote in collections.teachernotes %}
        {% if teachernote.data.partOfModule == moduleNo %}
            {{teachernote.content | safe}}
        {% endif %}
    {% endfor %}
</details>