---
layout: standard
---
<div style="display: flex; justify-content: space-between;">
    {% backButton %}
    <p><a class="btn btn-small btn-yellow btn-inline" href="parloer">Støttesætninger</a></p>
</div>

<div>
{{content | safe}}
</div>

<h2 class="mt-lg mb-sm">Lektioner</h2>
<div class="list-group nav-list-group lessonList">
    {%- for lesson in collections[getLessonsOf] | sort(false, false, 'data.lessonNo') %}
    <a class="list-group-item" href="{{lesson.url | url}}" data-lessonnumber="{{lesson.data.lessonNo}}">{{lesson.data.metaTitle}} <span>✔</span></a>
    {%- endfor %}
</div>

<details class="mt-lg mb-lg">
    <summary>Til læreren</summary>
    {% set moduleTeacherNotes = collections.all | moduleTeacherNote(moduleNo) %}
    {% for teachernote in moduleTeacherNotes %}
        {{teachernote.content | safe}}
    {% endfor %}
</details>