---
layout: standard
---
<p><a href="../" class="btn btn-small btn-white btn-inline">Tilbage</a></p>

{{content | safe}}

<div class="list-group nav-list-group mt-lg">
{% for group in collections[modulePhrases] %}
<a class="list-group-item" class="list-grid-link" href="{{group.url | url}}">{{group.data.metaTitle}}</a>
{%endfor%}
</div>
