---
layout: standard
---
<h1 class="mt-lg mb-sm">{{metaTitle}}</h1>

<div class="phrase-list" id="favorites-list">
    
</div>

<div class="mt-lg"><button onclick="clearFavorites()" id="clear" class="btn btn-small btn-white btn-inline">Ryd alle</button></div>

<template id="phraseFavorite-item">
    <div class="phrase-item is-favorite" id="">
        <div class="phrase-emoji"></div>
        <div class="phrase-image"><img src="" loading="lazy"></div>
        <div class="phrase-body">
            <div>
                <p class="phrase-greenlandic" lang="kl" translate="no"></p>
                <button type="button" data-playing="false" class="play-button button-ghost btn" title="Sig højt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-down" viewBox="2 2 12 12">
                        <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12zM6.312 6.39 8 5.04v5.92L6.312 9.61A.5.5 0 0 0 6 9.5H4v-3h2a.5.5 0 0 0 .312-.11M12.025 8a4.5 4.5 0 0 1-1.318 3.182L10 10.475A3.5 3.5 0 0 0 11.025 8 3.5 3.5 0 0 0 10 5.525l.707-.707A4.5 4.5 0 0 1 12.025 8"/>
                    </svg>
                </button>
            </div>
            <p class="phrase-danish"></p>
            <small class="phrase-note"></small>
        </div>
        <div class="phrase-tools">
            <button type="button" class="favorite-button button-ghost btn" title="Fjern fra favoritter">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
            </button>
            <button type="button" class="copy-button button-ghost btn" title="Kopier tekst">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                </svg>
            </button>
        </div>
        <audio src="" preload="metadata"></audio>
    </div>
</template>

<script>
    const fl = document.getElementById("favorites-list");
    if(localStorage.getItem("favorites") != null) {
        favoriteArray = JSON.parse(localStorage.getItem("favorites"));
        const template = document.getElementById("phraseFavorite-item");
        for (let index = 0; index < favoriteArray.length; index++) {
            const clone = template.content.cloneNode(true);
            clone.querySelector(".phrase-item").id = favoriteArray[index].id;
            if(favoriteArray[index].greenlandic != null) {
                clone.querySelector(".phrase-greenlandic").textContent = favoriteArray[index].greenlandic;
            } else {
                clone.querySelector(".phrase-greenlandic").remove();
                clone.querySelector(".copy-button").remove();
            }
            if(favoriteArray[index].danish != null) {
                clone.querySelector(".phrase-danish").textContent = favoriteArray[index].danish;
            } else {
                clone.querySelector(".phrase-danish").remove();
            }
            if(favoriteArray[index].note != null) {
                clone.querySelector(".phrase-note").textContent = favoriteArray[index].note;
            } else {
                clone.querySelector(".phrase-note").remove();
            }
            if(favoriteArray[index].emoji != null) {
                clone.querySelector(".phrase-emoji").textContent = favoriteArray[index].emoji;
                clone.querySelector(".phrase-image").remove();
            } else {
                clone.querySelector(".phrase-emoji").remove();
            }
            if(favoriteArray[index].image != null) {
                clone.querySelector(".phrase-image > img").src = favoriteArray[index].image;
            } else {
                if(clone.querySelector(".phrase-image") != null) {
                    clone.querySelector(".phrase-image").remove();
                }
            }
            if(favoriteArray[index].audio != null) {
                clone.querySelector("audio").src = favoriteArray[index].audio;
            } else {
                clone.querySelector("audio").remove();
                clone.querySelector(".play-button").remove();
            }
            fl.appendChild(clone);
        }
    } else {
        fl.textContent = "Tryk på stjernen ved et ord eller udtryk i parløren, for at tilføje det til din favorit-samling."
        document.getElementById("clear").remove();
    }
</script>