---
layout: standard
---

<h1>Parlør</h1>

(dynamisk liste)

<a href="{{'/mine-favoritter' | url}}">Mine favoritter</a>

<h1>Kursus</h1>

(dynamisk liste)

<h2>Aktiviteter og værktøjer</h2>

(manuel liste)

<h3>Links</h3>

(dynamisk liste)