---
layout: standard
---

<h1 class="mb-sm">Parlør</h1>
<nav class="home-games mb-lg">
    <a href="{{'/parloer/#basic' | url}}" class="game">Basale ord</a>
    <a href="{{'/parloer/#preaching' | url}}" class="game">Forkyndelse</a>
    <a href="{{'/parloer/#teaching' | url}}" class="game">Undervisning</a>
    <a href="{{'/parloer/#bible' | url}}" class="game">Bibelens lære</a>
    <a href="{{'/parloer/#pronunciation' | url}}" class="game">Hjælp til udtale</a>
</nav>

<div class="mb-sm"><a href="{{'/mine-favoritter' | url}}" class="btn btn-gray">Mine favoritter</a></div>

<h1>Kursus</h1>

<p style="margin-top: 0;" class="mb-sm"><small><a href="{{'/kursus' | url}}">Læs mere</a></small></p>

<nav class="home-games mb-sm">
    {% for module in collections.module%}
        <a href="{{module.url | url}}" class="game">
            <span class="game-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard" viewBox="0 0 16 16">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z"></path>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z"></path>
                </svg></span>
            {{module.data.metaTitle}}</a>
    {% endfor %}
</nav>

<div class="alert mb-lg"><b>NYHED:</b> Nu gemmes dine svar i øvelserne automatisk, så du kan vende tilbage og gøre dem færdige senere. Når du har gennemført en øvelse, registreres det automatisk.</div>

<h2 class="mb-sm">Aktiviteter og værktøjer</h2>

<nav class="link-list mb-lg">
    <a href="{{'/mere/udsagnsordsendelser' | url}}" class="link-list-item">Skema: Endelser til udsagnsord</a>
    <a href="{{'/mere/navneordsendelser' | url}}" class="link-list-item">Skema: Endelser til navneord</a>
    <a href="{{'/mere/ordforraad' | url}}" class="link-list-item">Udvid dit ordforråd</a>
    <a href="{{'/mere' | url}}" class="link-list-item">Se flere aktiviteter &mldr;</a>
</nav>

<h3 class="mb-sm">Links</h3>

<nav class="list-group mb-lg">
    {% for link in externallinks.externalLinks %}
        <a href="{{link.url}}" target="_blank" class="list-group-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
            </svg>
            {{link.onPageTitle}}</a>
    {% endfor %}
</nav>

{% searchFab %}