---
layout: standard
metaTitle: Lektion
---
<div style="display: flex; justify-content: space-between;">
    {% backButton %}
    <p><a class="btn btn-small btn-yellow btn-inline" href="../parloer">Støttesætninger</a></p>
</div>

<h1 class="my-4">{{onPageTitle}}</h1>

<ul class="nav nav-underline border-bottom mb-4" role="tablist">
    <li class="nav-item" role="presentation"><button class="nav-link active" id="student-tab" data-toggle="tab" data-target="student" aria-selected="true">Til kursisten</button></li>
    <li class="nav-item" role="presentation"><button class="nav-link" id="teacher-tab" data-toggle="tab" data-target="teacher" aria-selected="false">Til læreren</button></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" role="tabpanel" tabindex="0" id="student" aria-labelledby="student-tab">
        <div class="mb-lg">
            {{content | safe}}

            <div class="hide-if-list-empty">
                <p class="mb-lg"><strong>Ekstramateriale:</strong></p>
                <ul>
                {% set relatedExtras = collections.all | relatedExtra(lessonNo) %}
                {% for extrapages in relatedExtras %}
                    <li>
                        <a href="{{extrapages.url | url}}">{{extrapages.data.onPageTitle}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>


        <div class="mb-lg hide-if-list-empty">
            <h2 class="mb-sm">Øvelser</h2>
            <ul class="list-group nav-list-group">
            {% set relatedHomeworks = collections.all | relatedHomework(lessonNo) %}
            {% for homework in relatedHomeworks %}
                <li class="list-group-item d-flex">
                    <div><input type="checkbox" class="form-check-input me-2" id="homework-{{lessonNo}}-{{loop.index}}" checked disabled></div>
                    <div class="d-inline-block">
                        <label for="homework-{{lessonNo}}-{{loop.index}}">
                            {{homework.data.previewText}}</label>
                        {%if homework.data.linkText %}
                            <p class="mb-0 mt-sm"><a class="btn btn-small btn-blue" href="{{homework.url | url}}">{{homework.data.linkText}}</a></p>
                        {%endif%}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="mb-lg hide-if-list-empty">
            <h3 class="mb-sm">Brug det du har lært</h3>
            <ul class="list-group nav-list-group">
            {% set relatedOralHomeworks = collections.all | relatedOralHomework(lessonNo) %}
            {% for oral in relatedOralHomeworks %}
                <li class="list-group-item d-flex">
                    <div><input type="checkbox" class="form-check-input me-2" id="oral-{{lessonNo}}-{{loop.index}}" checked disabled></div>
                    <div class="d-inline-block">
                        <label for="oral-{{lessonNo}}-{{loop.index}}">
                            {{oral.data.previewText}}</label>
                        {%if oral.data.linkText %}
                            <p class="mb-0 mt-sm"><a class="btn btn-small btn-blue" href="{{oral.url | url}}">{{oral.data.linkText}}</a></p>
                        {%endif%}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="mb-lg hide-if-list-empty">
            <h2 class="mb-sm">Guldkorn</h2>
            <ul class="list-group nav-list-group">
            {% set relatedGems = collections.all | relatedGem(lessonNo) %}
            {% for gem in relatedGems %}
                <li class="list-group-item d-flex">
                {% if gem.data.externalLink %}<a href="{{gem.data.externalLink}}" target="_blank">{{gem.data.onPageTitle}} (eksternt link)</a>{%else%}
                    <a href="{{gem.url | url}}">{{gem.data.onPageTitle}}</a>{%endif%}
                </li>
            {% endfor %}
            </ul>
        </div>

        <form class="mb-lg">
            <div class="form-group">
                <label class="form-label" for="completedDate">Lektion gennemført</label>
                <input class="form-input" type="date" id="completedDate" onFocus="this.showPicker()">
                <input type="hidden" id="lesson" value="{{lessonNo}}">
            </div>
        </form>

        <details class="mb-lg hide-if-details-empty">
            <summary>Til selvstudie</summary>
            {% set lessonStudyNotes = collections.all | lessonStudyNote(lessonNo) %}
            {% for studynote in lessonStudyNotes %}
                {{studynote.content | safe}}
            {% endfor %}
        </details>
    </div>

    <div class="tab-pane" role="tabpanel" tabindex="0" id="teacher" aria-labelledby="teacher-tab">
        {% set lessonTeacherNotes = collections.all | lessonTeacherNote(lessonNo) %}
        {% for teachernote in lessonTeacherNotes %}
            {{teachernote.content | safe}}
        {% endfor %}
    </div>
</div>

{# <div class="d-flex justify-content-between border-top border-bottom my-4 py-4">
    <a href="#" class="btn btn-primary">Forrige</a>
    <a href="#" class="btn btn-primary">Næste</a>
</div> #}