---
layout: standard
metaTitle: Lektion
---
<p><a href="../" class="btn btn-small btn-white btn-inline">Tilbage</a></p>

<h1 class="my-4">{{onPageTitle}}</h1>

<ul class="nav nav-underline border-bottom mb-4" role="tablist">
    <li class="nav-item" role="presentation"><button class="nav-link active" id="student-tab" data-toggle="tab" data-target="student" aria-selected="true">Til kursisten</button></li>
    <li class="nav-item" role="presentation"><button class="nav-link" id="teacher-tab" data-toggle="tab" data-target="teacher" aria-selected="false">Til læreren</button></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" role="tabpanel" tabindex="0" id="student" aria-labelledby="student-tab">
        <div class="mb-lg">{{content | safe}}</div>

        <div class="mb-lg">
            <h2 class="mb-sm">Brug det du har lært</h2>
            <ul class="list-group nav-list-group">
            {% for homework in collections.homework %}
                {% if homework.data.partOfLesson == lessonNo %}
                <li class="list-group-item d-flex">
                    <div><input type="checkbox" class="form-check-input me-2" id="homework-{{lessonNo}}-{{loop.index}}" checked disabled></div>
                    <div class="d-inline-block">
                        <label for="homework-{{lessonNo}}-{{loop.index}}">{{homework.data.previewText}}</label>
                        {%if homework.data.linkText %}
                            <p class="mb-0 mt-sm"><a class="btn btn-small btn-blue" href="{{homework.url | url}}">{{homework.data.linkText}}</a></p>
                        {%endif%}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>

        <div class="mb-lg">
            <h2 class="mb-sm">Guldkorn</h2>
            <ul class="list-group nav-list-group">
            {% for gem in collections.gems %}
                {% if gem.data.partOfLesson == lessonNo %}
                    {% if gem.data.externalLink %}<a href="{{gem.data.externalLink}}" class="list-group-item" target="_blank">{{gem.data.onPageTitle}} (eksternt link)</a>{%else%}
                        <a href="{{gem.url | url}}" class="list-group-item">{{gem.data.onPageTitle}}</a>{%endif%}
                {% endif %}
            {% endfor %}
            </ul>
        </div>

        <details class="mb-lg">
            <summary>Til selvstudie</summary>
            {% for studynote in collections.studynotes %}
                {% if studynote.data.partOfLesson == lessonNo %}
                    {{studynote.content | safe}}
                {% endif %}
            {% endfor %}
        </details>

        {# <form>
            <div class="form-group">
                <label class="form-label" for="completedDate">Lektion gennemført</label>
                <input class="form-input" type="date" id="completedDate" onFocus="this.showPicker()">
                <input type="hidden" id="lesson" value="{{lessonNo}}">
            </div>
        </form> #}
    </div>

    <div class="tab-pane" role="tabpanel" tabindex="0" id="teacher" aria-labelledby="teacher-tab">
        {% for teachernote in collections.teachernotes %}
            {% if teachernote.data.partOfLesson == lessonNo %}
                {{teachernote.content | safe}}
            {% endif %}
        {% endfor %}
    </div>
</div>

{# <div class="d-flex justify-content-between border-top border-bottom my-4 py-4">
    <a href="#" class="btn btn-primary">Forrige</a>
    <a href="#" class="btn btn-primary">Næste</a>
</div> #}