---
layout: base
eleventyImport:
    collections: ["phrase"]
---
{{content | safe}}

<h2>Basale ord</h2>
<ul class="list-group list-grid">
{% for group in collections.basic %}
<li class="list-group-item"><a class="list-grid-link" href="{{group.url | url}}">{{group.data.metaTitle}}</a></li>
{%endfor%}
</ul>

<h2>Forkyndelse</h2>
<ul class="list-group list-grid">
{% for group in collections.preaching %}
<li class="list-group-item"><a class="list-grid-link" href="{{group.url | url}}">{{group.data.metaTitle}}</a></li>
{%endfor%}
</ul>

<h2>Undervisning</h2>
<ul class="list-group list-grid">
{% for group in collections.teaching %}
<li class="list-group-item"><a class="list-grid-link" href="{{group.url | url}}">{{group.data.metaTitle}}</a></li>
{%endfor%}
</ul>

<h2>Bibelens lære</h2>
<ul class="list-group list-grid">
{% for group in collections.bible %}
<li class="list-group-item"><a class="list-grid-link" href="{{group.url | url}}">{{group.data.metaTitle}}</a></li>
{%endfor%}
</ul>

<h2>Hjælp til udtale</h2>
<ul class="list-group list-grid">
{% for group in collections.pronunciation %}
<li class="list-group-item"><a class="list-grid-link" href="{{group.url | url}}">{{group.data.metaTitle}}</a></li>
{%endfor%}
</ul>