<div class="video-wrapper">
            <video id="videoPlayer" controls><source src="@videoFile.MediaItem.Url" type="video/mp4"></video>
        </div>



@if(Model.HasValue("videoQuiz"))
{
    int number = 0;
    <div class="videoQuizContainer" style="display: none;">
        <div class="videoQuizQuestion"><small>Quiz</small><br>@Model.Value("videoQuestion")</div>
        <div class="videoQuizAnswersContainer">
            @foreach(var quiz in Model.Value<IEnumerable<IPublishedElement>>("videoQuiz"))
            {
                var options = quiz.Value<string[]>("videoQuizAnswers");
                <div class="videoQuizAnswersGroup" data-timecode="@quiz.Value("videoQuizTime")" id="@number">
                    @for(int i = 0; i < options.Length; i++)
                    {
                        string itemNumber = number.ToString() + i.ToString();
                        <div class="word-item" id="@itemNumber">
                            <div class="word-greenlandic" lang="kl">@options[i]</div>
                        </div>
                    }
                </div>
                
                number++;
            }
        </div>
    </div>
}