---
tags: homework
layout: taskflow
partOfLesson: 130
sortNumber: 5
previewText: Mangler lyd - 13.5 - forstå ordet
onPageTitle: Øvelse 13.5 - forstå ordet
onPageDescription: Du får en sætning fra noget nyere litteratur. Prøv at forstå ordet der har forholdsendelse på.
linkText: Start øvelsen
mode: filled
randomize: true
---

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/1.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="nunamut"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Nunamut" betyder "ind i/til landet". Sætningen "Illit Israalikkut nunamut neriorsuutigisamukaannavianngilatit" kan findes i <i>lfb</i> kap 29, og kan oversættes til: "Du kommer ikke til at føre israelitterne ind i det lovede land."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/2.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="kunngimut"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Kunngimut" betyder "til/for kongen". Sætningen "Ezrap nalaani Nehemia Israalikkuusoq kunngimut Artaxerxesimut kiffaavoq" kan findes i <i>lfb</i> kap 67, og kan oversættes til: "På Ezras tid var israelitten Nehemias tjener for kong Artaxerxes."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/3.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="tupermut"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Tupermut" betyder "til teltet". Sætningen "Elkanap ilaquttani tupermut guutisiorfimmukaqatigisarpai" kan findes i <i>lfb</i> kap 35, og kan oversættes til: "Elkana plejer at tage til telthelligdommen (ordret: teltet hvor man tilbeder Gud) sammen med sin familie."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/4.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordene med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="illoqarfimmut allamut"></spellcheck-input>
    <task-instruction data-number="3">Sig ordene højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Illoqarfimmut allamut" betyder "til en anden by". Sætningen "Immaqa ilaqutariittut illoqarfimmut allamut nuukkamik ikinngutini qimattariaqarpai" kan findes i <i>w26.07</i> s. 8 § 1, og kan oversættes til: "Måske måtte han forlade sine venner fordi de som familie flyttede til en anden by."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/5.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="ajornartorsiutinut"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Ajornartorsiutinut" betyder "til problemerne". Sætningen "Illit ajornartorsiutinut pisuuvutit" kan findes i <i>lfb</i> kap 46, og kan oversættes til: "Du er skyld i problemerne." Her bruges -nut mere grammatisk end i betydningen 'til'. Ligesom på dansk bruger man på grønlandsk faste forholdsendelser i bestemte konstruktioner - og de er sjældent de samme på dansk og grønlandsk.</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/6.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordene med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="ullormi qasuersaarfimmi"></spellcheck-input>
    <task-instruction data-number="3">Sig ordene højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Ullormi qasuersaarfimmi" betyder "på sabatten/dagen hvor man hviler". Sætningen "Jiisusi ullormi qasuersaarfimmi ajorunnaarsitsisoq" kan findes i <i>lfb</i> kap 85, og kan oversættes til: "Jesus helbreder på sabatten."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/7.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="allaaserisami matumani"></spellcheck-input>
    <task-instruction data-number="3">Sig ordene højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Allaaserisami matumani" betyder "i denne artikel". Sætningen "Allaaserisami matumani suut sammissavagut?" kan findes i næsten hver eneste studeiartikel, men specifikt <i>w26.07</i> s. 20 § 3, og kan oversættes til: "Hvad skal vi have om i denne artikel?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/8.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="biibilimi"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Biibilimi" betyder "i Bibelen". Sætningen "Oqaaseq 'tusarnaarneq' Biibilimi eqqaaneqaraangat paasissutissamik tusaasaqaannarneq pineqarneq ajorpoq" kan findes i <i>w26.06</i> s. 21 § 4, og kan oversættes til: "Når ordet 'lytte' bliver brugt i Bibelen handler det ikke kun om at høre noget."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/9.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordene med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="ukiuni arfineq-marlunni"></spellcheck-input>
    <task-instruction data-number="3">Sig ordene højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Ukiuni arfineq-marlunni" betyder "i 7 år". Sætningen "Ukiuni arfineq-marlunni Egypteni nerisassanik ulikkaarumaarpoq" kan findes i <i>lfb</i> kap 15, og kan oversættes til: "Egypten kommer til at bugne med mad i 7 år."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/10.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="ilagiinni"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Ilagiinni" betyder "i menigheden". Sætningen "Asanninnerput ilagiinni sapiissuseqartitsivoq" kan findes i sang nr. 90, og kan oversættes til: "Vores kærlighed i menigheden giver mod."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/11.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv hele sætningen ned</task-instruction>
    <spellcheck-input data-validation="angummit utoqqarmit* arnamut* toqqakkamut qitornaanullu asasannut"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>Sætningen "Angummit utoqqarmit arnamut toqqakkamut qitornaanullu asasannut" kan findes i Jo2 1, og kan oversættes til: "Fra den ældre mand til den udvalgte kvinde og hendes elskede børn."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/12.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="qilammit"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Qilammit" betyder "fra himlen". Sætningen "Nipilu qilammit tutsiuppoq" kan findes i Lu 3:22, og kan oversættes til: "Og der lød en stemme fra himlen."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/13.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="babylonnimit"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Babylonnimit" betyder "fra Babylon". Sætningen "Babylonnimit utertut soorunami Jehova pillugu paasisimasaqareerput" kan findes i <i>w26.07</i> s. 15 § 4, og kan oversættes til: "De der kom tilbage fra Babylon havde selvfølgelig allerede en hvis viden om Jehova."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/14.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="jehovamit"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Jehovamit" betyder "af/fra Jehova". Sætningen "Biibili Jehovamit isumassarsiarititaasoq" kan findes i <i>w26.97</i> s. 2 § 3, og kan oversættes til: "Bibelen er inspireret af Jehova."</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til sætningen</task-instruction>
    <task-audio data-file="course/lesson-13/13_5/15.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet med forholdsendelse ned</task-instruction>
    <spellcheck-input data-validation="toqusunit"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Prøv at regne betydningen ud</task-instruction>
    <task-info>"Toqusunit" betyder "fra de døde". Sætningen "Jiisusi toqusunit makititaasoq" kan findes i <i>lfb</i> kap 91, og kan oversættes til: "Jesus bliver oprejst fra de døde."</b></task-info>
{% endtaskStep %}
