---
tags: homework
layout: taskflow
partOfLesson: 140
sortNumber: 5
previewText: Mangler lyd - 14.5 - ippassaq-spørgsmål
onPageTitle: Øvelse 14.5 - ippassaq-spørgsmål
onPageDescription: Du bliver stillet nogle spørgsmål om hvad der er sket i går. Benægt dem og sig at det skete i dag.
linkText: Start øvelsen
mode: correct
loop: true
randomize: true
---

{% for prompt in 14_5_6_ippassaq_questions %}
{% taskStep %}
    <task-instruction data-number="1">Læs/lyt og forstå spørgsmålet</task-instruction>
    <task-prompt>{{prompt.prompt}}</task-prompt>
    <task-audio data-file="course/lesson-14/14_5/{{prompt.lyd}}" enable-slow></task-audio>
    <task-instruction data-number="2">Benægt og forklar at det foregår i dag (ullumi). Start med "Naamik ..."</task-instruction>
    <spellcheck-input data-validation="{{prompt.svar}}"></spellcheck-input>
    <task-instruction data-number="3">Forstå dit svar og sig det højt</task-instruction>
    <task-info>Spørgsmålet "{{prompt.prompt}}" betyder "{{prompt.prompt_betydning}}".<br>Det rigtige svar er "{{prompt.svar}}" som betyder "{{prompt.svar_betydning}}"</b>.</task-info>
{% endtaskStep %}
{% endfor %}