---
tags: homework
layout: taskflow
partOfLesson: 140
sortNumber: 6
previewText: Mangler lyd - 14.6 - ippassaq-spørgsmål (kun lyd)
onPageTitle: Øvelse 14.6 - ippassaq-spørgsmål (kun lyd)
onPageDescription: Du bliver stillet nogle spørgsmål om hvad der er sket i går. Benægt dem og sig at det skete i dag.
linkText: Start øvelsen
mode: correct
loop: true
randomize: true
---

{% for prompt in 14_4_5_ippassaq_questions %}
{% taskStep %}
    <task-instruction data-number="1">Lyt og forstå spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-14/14_5_6/{{prompt.lyd}}" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv spørgsmålet ned</task-instruction>
    <spellcheck-input data-validation="{{prompt.prompt}}"></spellcheck-input>
    <task-instruction data-number="3">Benægt og forklar at det foregår i dag. Start med "Naamik ..."</task-instruction>
    <spellcheck-input data-validation="{{prompt.svar}}"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>Spørgsmålet "{{prompt.prompt}}" betyder "{{prompt.prompt_betydning}}".<br>Det rigtige svar er "{{prompt.svar}}" som betyder "{{prompt.svar_betydning}}"</b>.</task-info>
{% endtaskStep %}
{% endfor %}