---
tags: homework
layout: taskflow
partOfLesson: 140
sortNumber: 7
previewText: Virker ikke - 14.7 - find betydningen
onPageTitle: Øvelse 14.7 - find betydningen
onPageDescription: Vælg de danske ord i den rigtige rækkefølge så du kan finde betydningen.
linkText: Start øvelsen
mode: ???
randomize: true
---

{% for prompt in 14_7_disseker %}
{% taskStep %}
    <task-prompt>{{prompt.prompt}}</task-prompt>
    <task-audio data-file="course/lesson-14/14_7/{{prompt.lyd}}" enable-slow></task-audio>
    <task-instruction data-number="1">Læs/lyt og sig sætningen højt</task-instruction>
    <task-instruction data-number="2">Prøv at regne betydningen ud</task-instruction>
    <task-instruction data-number="3">Vælg de danske ord i den rigtige rækkefølge, så de giver betydningen af sætningen</task-instruction>
    {# Her skal Kasper lave funktionen til disseker ord til den nye type øvelser #}
    <task-info>Den rigtige betydning er "{{prompt.svar}}".</b></task-info>
{% endtaskStep %}
{% endfor %}

