---
tags: homework
layout: taskflow
partOfLesson: 110
sortNumber: 8
previewText: 11.8 - forstå spørgsmål med spørgeord
onPageTitle: Øvelse 11.8 - forstå spørgsmål med spørgeord
onPageDescription: Oversæt spørgsmålene.
linkText: Start øvelsen
mode: filled
randomize: true
---

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/1.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="kina atuarpa"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Kina atuarpa?" betyder "Hvem læser?" (i ental).</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/2.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="kina ajorpa"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Kina ajorpa?" betyder "Hvem har det dårligt?" (i ental).</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/3.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="kikkut atuarpat"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Kikkut atuarpat?" betyder "Hvem læser?" (i flertal).</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/4.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="kikkut ajorpat"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Kikkut ajorpat?" betyder "Hvem har det dårligt?" (i flertal).</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/5.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="qanga aallarpisi"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Qanga aallarpisi?" betyder "Hvornår rejste I?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/6.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="qanga oqaluussivit"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Qanga oqaluussivit?" betyder "Hvornår forkyndte du?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/7.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="qanoq ateqarpa"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Qanoq ateqarpa?" betyder "Hvad hedder han?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/8.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="arnaq qanoq ateqarpa"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Arnaq qanoq ateqarpa?" betyder "Hvad hedder kvinden?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/9.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="qanoq ateqarpat"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Qanoq ateqarpat?" betyder "Hvad hedder de?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/10.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="arnaq aamma angut sooq qasuppat"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Arnaq aamma angut sooq qasuppat?" betyder "Hvorfor er kvinden og manden trætte?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/11.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="qassinik ukioqarpit"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Qassinik ukioqarpit?" betyder "Hvor gammel er du?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/12.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="asaasartoq qassinik ukioqarpa"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Asaasartoq qassinik ukioqarpa?" betyder "Hvor gammel er rengøringsassistenten?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/13.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="qassinik ukioqarpat"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Qassinik ukioqarpat?" betyder "Hvor gamle er de?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/14.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="anaana aamma ataata qassinik ukioqarpat"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Anaana aamma ataata qassinik ukioqarpat?" betyder "Hvor gamle er mor og far?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/15.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="sooq qasuit"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Sooq qasuit?" betyder "Hvorfor er du træt?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/16.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="sanasoq sooq qasua"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Sanasoq sooq qasua?" betyder "Hvorfor er tømreren træt?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/17.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="sooq ajorpisi"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Sooq ajorpisi?" betyder "Hvorfor har I det dårligt?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt til spørgsmålet</task-instruction>
    <task-audio data-file="course/lesson-11/11_8/18.mp3" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv det ned</task-instruction>
    <spellcheck-input data-validation="panik aamma erneq sooq ajorpat"></spellcheck-input>
    <task-instruction data-number="3">Gentag det højt</task-instruction>
    <task-instruction data-number="4">Oversæt spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-info>"Panik aamma erneq sooq ajorpat?" betyder "Hvorfor har datteren og sønnen det dårligt?"</b></task-info>
{% endtaskStep %}
