---
tags: homework
layout: taskflow
partOfLesson: 120
sortNumber: 4
previewText: 12.4 - sætninger i ental/flertal
onPageTitle: Øvelse 12.3 - sætninger i ental/flertal
onPageDescription: Lav sætningen om til ental eller flertal, alt efter hvad den var i forvejen.
linkText: Start øvelsen
mode: correct
loop: true
randomize: true
---
{% for prompt in 12_4_sentences_plural %}
{% taskStep %}
    <task-instruction data-number="1">Læs/lyt og forstå sætningen</task-instruction>
    <task-prompt>{{prompt.prompt}}</task-prompt>
    <task-audio data-file="course/lesson-12/12_4/{{prompt.lyd}}" enable-slow></task-audio>
    <task-instruction data-number="2">Lav sætningen om til </task-instruction>
    <text-input></text-input>
    <task-instruction data-number="3">Forstå dit svar og sig det højt</task-instruction>
    <task-info>Sætningen "{{prompt.Fejl}}" er forkert, fordi grundledet står i {{prompt.grundled}}, men udsagnsordet står i {{prompt.Verb}}. Der er to korrekte løsninger, enten kan man rette efter grundledet og skrive "{{prompt.Ret_grundled}}" (som betyder "{{prompt.Ret_grundled_da}}"), eller man kan rette efter udsagnsordet og skrive "{{prompt.Ret_verbum}}" (som betyder "{{prompt.Ret_verbum_da}}").</b></task-info>
{% endtaskStep %}
{% endfor %}