---
tags: homework
layout: taskflow
partOfLesson: 100
sortNumber: 5
previewText: Øvelse 10.5 - omskriv sætningerne
onPageTitle: Øvelse 10.5 - omskriv sætningerne
onPageDescription: I denne opgave får du nogle sætninger der handler om nogen der gør noget. Du skal benægte sætningerne og skrive dem om, så det er personen i parentes der gør det. Fx. "Arnaq nerivoq." (= Kvinden spiser) Du får at vide at det skal være illit, så du skriver den om til "Naamik, illit nerivutit." (= Nej, du spiser)
linkText: Start øvelsen
mode: correct
---
{# lav lyd! #}
{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>Saatani oqaluussivoq</task-prompt>
    <task-audio data-file="course/lesson-10/saatani_oqaluussivoq.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om til "uagut", start med "Naamik, uagut ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, uagut oqaluussivugut"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"Saatani oqaluussivoq" betyder "Satan forkynder". Det rigtige svar er "Naamik, uagut oqaluussivugut", og det betyder "Nej, vi forkynder"</b>.</task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>tikipputit</task-prompt>
    <task-audio data-file="course/lesson-10/tikipputit.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om til "ilissi", start med "Naamik, ilissi ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, ilissi tikippusi"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"tikipputit" betyder "du ankommer". Det rigtige svar er "Naamik, ilissi tikippusi", og det betyder "Nej, I ankommer"</b>.</task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>Jehova nerivoq</task-prompt>
    <task-audio data-file="course/lesson-10/jehova_nerivoq.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om til "uanga", start med "Naamik, uanga ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, uanga nerivunga"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"Jehova nerivoq" betyder "Jehova spiser". Det rigtige svar er "Naamik, uanga nerivunga", og det betyder "Nej, jeg spiser"</b>.</task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>ajorpunga</task-prompt>
    <task-audio data-file="course/lesson-10/ajorpunga.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om til "uagut", start med "Naamik, uagut ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, uagut ajorpugut"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"ajorpunga" betyder "jeg har det dårligt". Det rigtige svar er "Naamik, uagut ajorpugut", og det betyder "Nej, vi har det dårligt"</b>.</task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>Rebekkamik ateqarputit</task-prompt>
    <task-audio data-file="course/lesson-10/rebekkamik_ateqarputit.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om så grundled er "arnaq", start med "Naamik, arnaq ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, arnaq Rebekkamik ateqarpoq"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"Rebekkamik ateqarputit" betyder "du hedder Rebekka". Det rigtige svar er "Naamik, arnaq Rebekkamik ateqarpoq", og det betyder "Nej, kvinden hedder Rebekka"</b>.</task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>Erneq aamma panik Nuummi najugaqarput</task-prompt>
    <task-audio data-file="course/lesson-10/erneq_aamma_panik_nuummi_najugaqarput.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om til "illit", start med "Naamik, illit ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, illit Nuummi najugaqarputit"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"Erneq aamma panik Nuummi najugaqarput" betyder "sønnen og datteren bor i Nuuk". Det rigtige svar er "Naamik, illit Nuummi najugaqarputit", og det betyder "Nej, du bor i Nuuk"</b>.</task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>32-nik ukioqarpugut</task-prompt>
    <task-audio data-file="course/lesson-10/32-nik_ukioqarpugut.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om så grundled er "angut", start med "Naamik, angut ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, angut 32-nik ukioqarpoq"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"32-nik ukioqarpugut" betyder "vi er 32 år gamle". Det rigtige svar er "Naamik, angut 32-nik ukioqarpoq", og det betyder "Nej, manden er 32 år gammel"</b>.</task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå sætningen</task-instruction>
    <task-prompt>Asaasartoq aamma sanasoq neripput</task-prompt>
    <task-audio data-file="course/lesson-10/asaasartoq_aamma_sanasoq_neripput.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Skriv sætningen om til ilissi, start med "Naamik, ilissi ..."</task-instruction>
    <spellcheck-input data-validation="Naamik, ilissi nerivusi"></spellcheck-input>
    <task-instruction data-number="4">Forstå dit svar og sig det højt</task-instruction>
    <task-info>"Asaasartoq aamma sanasoq neripput" betyder "rengøringsassistenten og tømreren spiser". Det rigtige svar er "Naamik, ilissi nerivusi", og det betyder "Nej, I spiser"</b>.</task-info>
{% endtaskStep %}