---
tags: homework
layout: taskflow
partOfLesson: 110
sortNumber: 3
previewText: Ikke færdig - 11.3 - besvar spørgsmål
onPageTitle: Øvelse 11.3 - besvar spørgsmål
onPageDescription: Forstå og svar på spørgsmålene.
linkText: Start øvelsen
mode: filled
---
{# lav lyd! #}
{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Guuti qanoq ateqarpa?</task-prompt>
    <task-audio data-file="course/lesson-11/guuti-qanoq-ateqarpa.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Guuti qanoq ateqarpa?" betyder "Hvad hedder Gud?". Som svar kan man skrive "Guuti Jehovamik ateqarpoq", og det betyder "Gud hedder Jehova".</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Ippassaq oqaluussivit?</task-prompt>
    <task-audio data-file="course/lesson-11/ippassaq-oqaluussivit.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Ippassaq oqaluussivit?" betyder "Var du i forkyndelsen i går?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Kalaallit Nunaannut qanga tikippit?</task-prompt>
    <task-audio data-file="course/lesson-11/kalaallit-nunaannut-qanga-tikippit.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Kalaallit Nunaannut qanga tikippit?" betyder "Hvornår ankom du til Grønland?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Jiisusi sumi inunngorpa?</task-prompt>
    <task-audio data-file="course/lesson-11/jiisusi-sumi-inunngorpa.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Jiisusi sumi inunngorpa?" betyder "Hvor blev Jesus født?". Som svar kan man skrive "Jiisusi Betlehemmimi inunngorpoq", og det betyder "Jesus blev født i Betlehem".</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Inuit qassit qilaliassappat?</task-prompt>
    <task-audio data-file="course/lesson-11/inuit-qassit_qilaliassappat.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Inuit qassit qilaliassappat?" betyder "Hvor mange mennesker skal i himlen?". Som svar kan man skrive "144.000-t qilaliassapput", og det betyder "144.000 skal i himlen".</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Saatani nuannaarpa?</task-prompt>
    <task-audio data-file="course/lesson-11/saatani-nuannaarpa.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Saatani nuannaarpa?" betyder "Er Satan glad?". Som svar kan man skrive "Naamik, kamappoq", og det betyder "Nej, han er vred".</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Massakkut sila nuannerpa?</task-prompt>
    <task-audio data-file="course/lesson-11/massakkut-sila-nuannerpa.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Massakkut sila nuannerpa?" betyder "Er det godt vejr lige nu?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Qanga imermut morsutsitaavit?</task-prompt>
    <task-audio data-file="course/lesson-11/qanga-imermut-morsutsitaavit.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Qanga imermut morsutsitaavit?" betyder "Hvornår blev du døbt?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Ilissinni kina igasarpa?</task-prompt>
    <task-audio data-file="course/lesson-11/ilissinni-kina-igasarpa.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Ilissinni kina igasarpa?" betyder "Hvem plejer at lave mad hjemme ved jer?"</b></task-info>
{% endtaskStep %}

{% taskStep %}
    <task-instruction data-number="1">Lyt/læs og forstå spørgsmålet</task-instruction>
    <task-prompt>Sumi sulisarpit?</task-prompt>
    <task-audio data-file="course/lesson-11/sumi-sulisarpit.mp3"></task-audio>
    <task-instruction data-number="2">Gentag det højt</task-instruction>
    <task-instruction data-number="3">Besvar spørgsmålet</task-instruction>
    <text-input></text-input>
    <task-instruction data-number="4">Sig dit svar højt</task-instruction>
    <task-info>"Sumi sulisarpit?" betyder "Hvor arbejder du?"</b></task-info>
{% endtaskStep %}