---
tags: homework
layout: taskflow
partOfLesson: 130
sortNumber: 10
previewText: Virker ikke - 13.10 - forstå historien
onPageTitle: Øvelse 13.9 - forstå historien
onPageDescription: Se om du kan forstå historien.
linkText: Start øvelsen
mode: ????
---

{% taskStep %}
    <task-instruction data-number="1">Lyt og læs med i historien</task-instruction>
    <task-audio data-file="course/lesson-13/13_10/historie" enable-slow></task-audio>
    <task-prompt>Angut ippassaq Nuummit Qaqortumut tikippoq. Nuuk Qaqortumit ungasippoq. Angut taanna sooq Qaqortumut aallarpa? Qaqortumi najugaqarpoq. Illumut arpappoq. Arnaq igaffimmi atuarpoq. Angut igaffimmi nerivoq. Erneq ullumi sumi sinippa? Sinittarfimmi sinippoq. Qanga Tasiilamit tikippa? Ullumi tikippoq.</task-prompt>
    <task-instruction data-number="2">Prøv at forstå alle ordene og hvad historien handler om</task-instruction>
    <task-instruction data-number="3">Læs historen højt</task-instruction>
    <task-instruction data-number="4">Klik på hjælp-knappen for at tjekke om du har forstået historien rigtigt.</task-instruction>
    <task-info>Historien kan oversættes sådan her til dansk: "Manden ankom fra Nuuk til Qaqortoq i går. Nuuk er langt væk fra Qaqortoq. Hvorfor rejste manden til Qaqortoq? Han bor i Qaqortoq. Han løber hen til huset. Kvinden læser i køkkenet Manden spiser i køkkenet. Hvor sover sønnen i dag? Han sover i soveværelset. Hvornår ankom han fra Tasiilaq? Han ankom i dag." Hvad betyder "taanna"? Det er en tilbagevisning til den person eller ting man lige har snakket om. Så i det her tilfælde kan "angut taanna" betyde "den der mand", men på dansk ville vi her bare sige "manden". På grønlandsk har man ikke bestemt form, så vi tilføjer taanna for at vise at det er den samme mand vi snakker om.</b></task-info>
{% endtaskStep %}