---
tags: homework
layout: taskflow
partOfLesson: 130
sortNumber: 3
previewText: Virker ikke - 13.3 - mit
onPageTitle: Øvelse 13.2 - mit
onPageDescription: Vælg om stammen er stærk eller svag og sæt endelsen -mit på.
linkText: Start øvelsen
mode: correct
randomize: true
---
{% for prompt in 13_3_mit %}
{% taskStep %}
    <task-instruction data-number="1">Læs/lyt og prøv at huske hvad ordet betyder</task-instruction>
    <task-prompt>{{prompt.navneord_grundord}}</task-prompt>
    <task-audio data-file="course/Nomen/{{prompt.Lyd}}" enable-slow></task-audio>
    <task-instruction data-number="2">Gentag ordet højt</task-instruction>
    <task-instruction data-number="3">Vælg om stammen er stærk eller svag</task-instruction>
{# Her skal Kasper lave en mulighed for multiple choice #}
    <task-instruction data-number="4">Sæt ±miit på ordet</task-instruction>
    <text-input data-validation="{{prompt.resultat}}"></text-input>
    <task-instruction data-number="5">Sig dit svar højt</task-instruction>
    <task-info>Ordet "{{prompt.navneord_grundord}}" er en {{prompt.Gruppe}} stamme. Når man sætter -mit på hedder det "{{prompt.resultat}}" og betyder {{prompt.Dansk}}. Husk at nogle af byerne står i flertal, så der skal man bruge n-versionen af endelsen.</b></task-info>
{% endtaskStep %}
{% endfor %}