---
tags: homework
layout: taskflow
partOfLesson: 130
sortNumber: 4
previewText: 13.4 - diktat og forholdsendelser
onPageTitle: Øvelse 13.4 - diktat og forholdsendelser
onPageDescription: Skriv ordet ned og sæt forholdsendelsen på.
linkText: Start øvelsen
mode: correct
loop: true
randomize: true
---
{% for prompt in 13_4_forhold_lyd %}
{% taskStep %}
    <task-instruction data-number="1">Lyt og prøv at huske hvad ordet betyder</task-instruction>
    <task-audio data-file="course/Nomen/{{prompt.Lyd}}" enable-slow></task-audio>
    <task-instruction data-number="2">Skriv ordet ned</task-instruction>
    <spellcheck-input data-validation="{{prompt.navneord_grundord}}"></spellcheck-input>
    <task-instruction data-number="3">Sig ordet højt</task-instruction>
    <task-instruction data-number="4">Sæt -{{prompt.navneordsendelse}} på ordet</task-instruction>
    <text-input data-validation="{{prompt.resultat}}"></text-input>
    <task-instruction data-number="5">Sig dit svar højt</task-instruction>
    <task-info>Ordet "{{prompt.navneord_grundord}}" står i {{prompt.ental_flertal}}. Når man sætter -{{prompt.navneordsendelse}} på, hedder det "{{prompt.resultat}}" og betyder {{prompt.Dansk}}.</b></task-info>
{% endtaskStep %}
{% endfor %}