---
layout: base
metaTitle: Spil
---
<ul id="words-list" hidden>
{% for phrase in phrases.numbers %}<li data-parent="numbers" data-image="{{ phrase.image }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.family %}<li data-parent="family" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.body %}<li data-parent="body" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.clothes %}<li data-parent="clothes" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.colors %}<li data-parent="colors" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.nature %}<li data-parent="nature" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.food %}<li data-parent="food" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.plants %}<li data-parent="plants" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
{% for phrase in phrases.calendar %}<li data-parent="calendar" data-danish="{{ phrase.danish }}" data-greenlandic="{{ phrase.greenlandic }}"></li>
{% endfor %}
</ul>

<main class="flashcard-container">
    <section id="game-intro">
        <button type="button" class="btn btn-block btn-uppercase btn-blue" onclick="startGame();">Start</button>
    </section>
    <section id="gameboard" class="hidden"></section>
    <footer>
        <button type="button" class="flashcard-footer btn btn-uppercase btn-block btn-blue hidden" onclick="showAnswer();">Vis svaret</button>
        <div class="flashcard-footer-result hidden">
            <p>Var dit svar ...</p>
            <button type="button" class="btn btn-block btn-uppercase btn-green btn-right" onclick="correctAnswer()">Rigtigt</button>
            <button type="button" class="btn btn-block btn-uppercase btn-red btn-wrong" onclick="wrongAnswer()">Forkert</button>
        </div>
        <div class="flashcard-result hidden">
            <h2 class="mb-sm">Sejt!</h2>
            <p>Du fik X ud af Y rigtige</p>
            <a href="{{page.url}}" class="flashcard-footer-final btn btn-uppercase btn-block btn-gray">Prøv igen</a>
        </div>
    </footer>
</main>

<template>
    <div class="flashcard-card hasImage">
        <div class="flashcard-card-inner">
            <div class="flashcard-image"><img src="#" loading="lazy"></div>
            <div class="word-greenlandic" lang="kl">Greenlandic</div>
            <div class="word-danish">Danish</div>
        </div>
    </div>
</template>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const wordList = document.querySelectorAll('#words-list li');
    const board = document.getElementById("gameboard");
    const flashcardTemplate = document.querySelector("template");

    // Convert NodeList to Array
    const wordArray = Array.from(wordList);

    // Shuffle the array
    const shuffled = wordArray.sort(() => 0.5 - Math.random());

    // Get 5 random items
    const randomItems = shuffled.slice(0, 10);

    // Display the random items
    randomItems.forEach(item => {
        const clone = flashcardTemplate.content.cloneNode(true);
        if (item.dataset.image) {
            clone.querySelector("img").src = `/assets/images/${item.dataset.parent}/${item.dataset.image}`;
        } else {
            clone.querySelector(".flashcard-card").classList.remove("hasImage");
            clone.querySelector(".flashcard-image").remove();
        }
        clone.querySelector(".word-greenlandic").textContent = item.dataset.greenlandic;
        clone.querySelector(".word-danish").textContent = item.dataset.danish;
        
        board.appendChild(clone);
    });
});

const intro = document.getElementById("game-intro");
const board = document.getElementById("gameboard");
const answerBtn = document.querySelector(".flashcard-footer");
const rightOrWrong = document.querySelector(".flashcard-footer-result");
const result = document.querySelector(".flashcard-result");
let rightAnswersCount = 0;
let wrongAnswersCount = 0;

function startGame() {
    intro.classList.add("hidden");
    board.classList.remove("hidden");
    nextCard();
}

function nextCard() {
    const cards = document.querySelectorAll(".flashcard-card");
    if (cards.length == 1) {
        endGame();
    } else {
        if (cards[0].classList.contains("flipped")) {
            cards[0].remove();
            cards[1].classList.add("active");
        } else {
            cards[0].classList.add("active");
        }
        rightOrWrong.classList.add("hidden");
        answerBtn.classList.remove("hidden");
    }
}

function showAnswer() {
    board.querySelector(".flashcard-card.active").classList.add("flipped");
    rightOrWrong.classList.remove("hidden");
    answerBtn.classList.add("hidden");
}

function correctAnswer() {
    rightAnswersCount++;
    nextCard();
}

function wrongAnswer() {
    wrongAnswersCount++;
    nextCard();
}

function endGame() {
    board.classList.add("hidden");
    answerBtn.classList.add("hidden");
    rightOrWrong.classList.add("hidden");
    result.querySelector("p").textContent = result.querySelector("p").innerHTML.replace("X", rightAnswersCount).replace("Y", (rightAnswersCount + wrongAnswersCount));
    result.classList.remove("hidden");
}
</script>
